@charset UTF-8;
 
/* Em HTML id = em CSS # 
Em HTML class = em CSS .
*/
body {
    background-color: rgb(244, 241, 239);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(17, 16, 16);

}
h1#principal {
    text-align: center;
    background-color: #66390cab;
    color: aliceblue;
    
}
h2 {
    color: rgb(123, 98, 82);
    text-align: right;
}

.básico {
color: rgb(42, 237, 59);
}
.intermediário {
    color:rgb(243, 237, 160)
}
.avançado {
    color: rgb(224, 9, 9);
}